{
    "id": $util.dynamodb.toDynamoDBJson($ctx.result.id),
    "userId": $util.dynamodb.toDynamoDBJson($ctx.result.userId),
    "createdAt": $util.dynamodb.toDynamoDBJson($ctx.result.createdAt),
    "payLoad": $util.dynamodb.toDynamoDBJson($ctx.result.payLoad)
}
